@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
    background: #eee;
}

h1 {
    font-weight: 400;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}

main {
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.2),
        -30px 0px 40px rgba(0, 0, 0, 0.2);
}

/* The landing div */
#landing {
    background: #fff;

}

#landing-text {
    display: flex;
    flex: 0 1 40vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}

#landing-text h2 {
    color: #888;
}

/* This is going to be a fixed image */
#landing-image {
    background: url(https://source.unsplash.com/De8wMYoSSBc);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    flex: 0 1 60vw;
    margin: 0;
    /* width: 100%; */
}

.button {
    padding: 0.5rem 2rem;
    border: 1px #ccc solid;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition: background 500ms ease-in;

    /* You will see the border runs into the top, links are inline elements by default so they don't go to next line */
    display: inline-block;
    margin: 2rem 0 0;
}

.button:hover {
    background: #f4f4f4;
}

#header {
    padding: 1.5rem;
    text-align: center;
    background: #333;
    color: #fff;
}

#header h2 {
    border-left: dotted 1px #fff;
    border-right: dotted 1px #fff;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
}

.caption {
    padding: 0.8rem;
    text-align: center;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    margin: auto; 
    color: #333;
}

footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
}

@media(min-width: 500px) {
    #landing{
        display: flex;
        height: 100%;
    }

    #landing-text{
        height: 100vh;
    }

    #landing-image{
        height: 100vh;
    }
}

@media(min-width: 700px){
    .button{
        padding: 1rem 3rem;
    }
}